body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #fff;
    background-image: url("Quiz.webp");
}
.container{
    width: 600px;
    margin-left: 25%;
    background-image: url(back.jpeg);
    margin-top: 10px;
    height: 750px;
    padding:10px;
}
.t{
    text-align: center;
    font-size: small;
    background-color: black;
    color:aliceblue;
    width: 200px;
}
.head{
    text-align:center;
    padding: 5px;
    color: rgb(246, 246, 249);
}
.quiz{
    margin-left: 10px;
}
.buton{
    text-align: center;
    padding: auto;
}
.button{
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: rgb(44, 38, 78);
    color: rgb(255, 228, 196);
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 3px;

}